body {
  background: #fff;
}

.login-box {
  max-width: 420px;
}

.logo {
  font-weight: 700;
  color: #0d6efd;
  letter-spacing: 2px;
}

.bg-image {
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926");
  background-size: cover;
  background-position: center;
}
.bg-secondary{
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926");
}
