version: "3.9"

services:
  postgres:
    env_file:
      - .env
    build:
      context: ./docker/postgres
    container_name: postgres_test_projectd
    restart: unless-stopped

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: UTC

    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"

    volumes:
      - pg_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U diana -d user_management"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pg_data:
