version: "3.9"

services:
  backend:
    build: .
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: postgres://diana:Ssr%23%3B%40%248@db:5432/user_management
      JWT_SECRET: SECRET
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: user_management
      POSTGRES_USER: diana
      POSTGRES_PASSWORD: Ssr%23%3B%40%248

    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
